* {
    font-family: 'Bebas Neue', cursive;
}

body {
    /* background: url("picture/BG_Home_page.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
}

.rightnav1 {
    float: right;
    margin-right: 2%;
}

.rightnav1 a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 14px 16px;

}

.hamburger-icon {
    margin: 0;
    padding: 19px 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger-icon span {
    width: 30px;
    background-color: white;
    height: 3px;
    display: block;
    margin-bottom: 5px;
}

.hamburger-icon span:last-child {
    margin-bottom: 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: rgba(196, 196, 196, 0.596);
}

@media screen and (max-width: 400px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 20px;
    }
    .footer p{
        font-size: 50px;
    }
}

#section1 {
    height: 600px;
}

/* #section2 {
    height: 600px; */
/* } */