* {
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /*background-image: url("picture/BG-aboutu.jpg");*/
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url("picture/Greyhound-Cafe-Pattaya.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(0px);
  }
nav {
    padding: 10px 5px 5px 5px;
    float: right;
    margin-right: 2%;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 5px;

}

.hamburger-icon {
    margin: 0;
    padding: 19px 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.hamburger-icon span {
    width: 30px;
    background-color: white;
    height: 3px;
    display: block;
    margin-bottom: 5px;
}

.hamburger-icon span:last-child {
    margin-bottom: 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
    overflow: auto;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    color: grey;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}
.home1{
    padding-right: 35px;
}
.mem1{
    padding-right: 0px;
}
.home2{
    padding-right: 35px;
}
.mem2{
    padding-right: 0px;
}
.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

.Menu_text1{
    padding-top:  75px;
    font-size: 50px;
    color: white;
}

.Menu_text2{
    padding-top:  50px;
    font-size: 25px;
    color: white;
}

.image3,.image4,.image5,.image6{
    padding-top: 55px;
    margin-left: 50mm;

}
#imgline{
    width: 50%;
    
}

.form-control{
    margin-left: 10%;
    
}

.buttonsearch{
    margin-right: 10%;
}


footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: rgba(196, 196, 196, 0.596);
}


@media screen and (max-width: 1024px) {
  
    .rightnav1{
        display: none;
    }
    body { 
        font-size: 2em; 
     }
}

@media screen and (min-width: 1025px) {
    
    .rightnav2{
        display: none;
    }
}
